/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments.js";
import * as core from "../../../../core/index.js";
import * as Credal from "../../../index.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as errors from "../../../../errors/index.js";

export declare namespace DocumentCollections {
    export interface Options {
        environment?: core.Supplier<environments.CredalEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey?: core.Supplier<core.BearerToken | undefined>;
        /** Additional headers to include in requests. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
        fetcher?: core.FetchFunction;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional query string parameters to include in the request. */
        queryParams?: Record<string, unknown>;
        /** Additional headers to include in the request. */
        headers?: Record<string, string | core.Supplier<string | undefined> | undefined>;
    }
}

export class DocumentCollections {
    protected readonly _options: DocumentCollections.Options;

    constructor(_options: DocumentCollections.Options = {}) {
        this._options = _options;
    }

    /**
     * Add documents to a document collection. Note that the documents must already exist in the document catalog to use this endpoint. If you want to upload a new document to a collection, use the `uploadDocumentContents` endpoint.
     *
     * @param {Credal.AddDocumentsToCollectionRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.addDocumentsToCollection({
     *         collectionId: "82e4b12a-6990-45d4-8ebd-85c00e030c24",
     *         resourceIdentifiers: [{
     *                 type: "external-resource-id",
     *                 externalResourceId: "170NrBm0Do7gdzvr54UvyslPVWkQFOA0lgNycFmdZJQr",
     *                 resourceType: "GOOGLE_DRIVE_ITEM"
     *             }, {
     *                 type: "external-resource-id",
     *                 externalResourceId: "398KAHdfkjsdf09r54UvyslPVWkQFOA0lOiu34in923",
     *                 resourceType: "GOOGLE_DRIVE_ITEM"
     *             }]
     *     })
     */
    public addDocumentsToCollection(
        request: Credal.AddDocumentsToCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__addDocumentsToCollection(request, requestOptions));
    }

    private async __addDocumentsToCollection(
        request: Credal.AddDocumentsToCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/addDocumentsToCollection",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/documentCollections/addDocumentsToCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Remove documents from a collection
     *
     * @param {Credal.RemoveDocumentsFromCollectionRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.removeDocumentsFromCollection({
     *         collectionId: "82e4b12a-6990-45d4-8ebd-85c00e030c24",
     *         resourceIdentifiers: [{
     *                 type: "external-resource-id",
     *                 externalResourceId: "170NrBm0Do7gdzvr54UvyslPVWkQFOA0lgNycFmdZJQr",
     *                 resourceType: "GOOGLE_DRIVE_ITEM"
     *             }, {
     *                 type: "external-resource-id",
     *                 externalResourceId: "398KAHdfkjsdf09r54UvyslPVWkQFOA0lOiu34in923",
     *                 resourceType: "GOOGLE_DRIVE_ITEM"
     *             }]
     *     })
     */
    public removeDocumentsFromCollection(
        request: Credal.RemoveDocumentsFromCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__removeDocumentsFromCollection(request, requestOptions));
    }

    private async __removeDocumentsFromCollection(
        request: Credal.RemoveDocumentsFromCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/removeDocumentsFromCollection",
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling DELETE /v0/documentCollections/removeDocumentsFromCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * List documents in a collection
     *
     * @param {Credal.ListDocumentsInCollectionRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.listDocumentsInCollection({
     *         collectionId: "82e4b12a-6990-45d4-8ebd-85c00e030c24"
     *     })
     */
    public listDocumentsInCollection(
        request: Credal.ListDocumentsInCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<Credal.ListDocumentsInCollectionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listDocumentsInCollection(request, requestOptions));
    }

    private async __listDocumentsInCollection(
        request: Credal.ListDocumentsInCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.ListDocumentsInCollectionResponse>> {
        const { collectionId } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        _queryParams["collectionId"] = collectionId;
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/listDocumentsInCollection",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as Credal.ListDocumentsInCollectionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling GET /v0/documentCollections/listDocumentsInCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Create a new collection. The API key used will be added to the collection for future Requests
     *
     * @param {Credal.CreateCollectionRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.createCollection({
     *         name: "Customer Collection",
     *         description: "This collection is used to answer customer requests based on internal documentation.",
     *         collaborators: [{
     *                 email: "test@gmail.com",
     *                 role: "editor"
     *             }]
     *     })
     */
    public createCollection(
        request: Credal.CreateCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<Credal.CreateCollectionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCollection(request, requestOptions));
    }

    private async __createCollection(
        request: Credal.CreateCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.CreateCollectionResponse>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/createCollection",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.CreateCollectionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/documentCollections/createCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Delete the collection.
     *
     * @param {Credal.DeleteCollectionRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.deleteCollection({
     *         collectionId: "ac20e6ba-0bae-11ef-b25a-efca73df4c3a"
     *     })
     */
    public deleteCollection(
        request: Credal.DeleteCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<Credal.DeleteCollectionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteCollection(request, requestOptions));
    }

    private async __deleteCollection(
        request: Credal.DeleteCollectionRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.DeleteCollectionResponse>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/deleteCollection",
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.DeleteCollectionResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling DELETE /v0/documentCollections/deleteCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Credal lets you easily sync your MongoDB data for use in Collections and Agents. Create a new sync from a MongoDB collection to a Credal collection.
     *
     * @param {Credal.CreateMongoCollectionSyncRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.createMongoCollectionSync({
     *         mongoURI: "mongodb+srv://cluster0.abcdefg.mongodb.net/Cluster0?retryWrites=true&w=majority",
     *         collectionId: "ac20e6ba-0bae-11ef-b25a-efca73df4c3a",
     *         config: {
     *             syncName: "My sales transcripts",
     *             collectionName: "myCollection",
     *             filterExpression: {
     *                 "status": {
     *                     "$ne": "disabled"
     *                 }
     *             },
     *             sourceFields: {
     *                 body: "body",
     *                 sourceName: "meetingName",
     *                 sourceSystemUpdated: "transcriptDatetime",
     *                 sourceUrl: "link"
     *             }
     *         }
     *     })
     */
    public createMongoCollectionSync(
        request: Credal.CreateMongoCollectionSyncRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<Credal.MongoCollectionSyncResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMongoCollectionSync(request, requestOptions));
    }

    private async __createMongoCollectionSync(
        request: Credal.CreateMongoCollectionSyncRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.MongoCollectionSyncResponse>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/mongodb/createMongoSync",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.MongoCollectionSyncResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/documentCollections/mongodb/createMongoSync.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Credal lets you easily sync your MongoDB data for use in Collections and Agents. Update an existing sync from a MongoDB collection to a Credal collection via the `mongoCredentialId`, to disambiguate between multiple potential syncs to a given collection.
     *
     * @param {Credal.UpdateMongoCollectionSyncRequest} request
     * @param {DocumentCollections.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCollections.updateMongoCollectionSync({
     *         mongoURI: "mongodb+srv://cluster0.abcdefg.mongodb.net/Cluster0?retryWrites=true&w=majority",
     *         mongoCredentialId: "5988ed76-6ee1-11ef-97dd-1fca54b7c4bc",
     *         config: {
     *             syncName: "My recent summarized sales transcripts",
     *             collectionName: "myCollection",
     *             filterExpression: {
     *                 "transcriptDatetime": {
     *                     "$gt": "2023-01-01T00:00:00.000Z"
     *                 }
     *             },
     *             sourceFields: {
     *                 body: "transcriptSummary",
     *                 sourceName: "meetingName",
     *                 sourceSystemUpdated: "transcriptDatetime",
     *                 sourceUrl: "link"
     *             }
     *         }
     *     })
     */
    public updateMongoCollectionSync(
        request: Credal.UpdateMongoCollectionSyncRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): core.HttpResponsePromise<Credal.MongoCollectionSyncResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateMongoCollectionSync(request, requestOptions));
    }

    private async __updateMongoCollectionSync(
        request: Credal.UpdateMongoCollectionSyncRequest,
        requestOptions?: DocumentCollections.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.MongoCollectionSyncResponse>> {
        var _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/documentCollections/mongodb/updateMongoSync",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.MongoCollectionSyncResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/documentCollections/mongodb/updateMongoSync.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        const bearer = (await core.Supplier.get(this._options.apiKey)) ?? process?.env["CREDAL_API_KEY"];
        if (bearer == null) {
            throw new errors.CredalError({
                message:
                    "Please specify a bearer by either passing it in to the constructor or initializing a CREDAL_API_KEY environment variable",
            });
        }

        return `Bearer ${bearer}`;
    }
}
