// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import type * as Credal from "../../../index.js";

export declare namespace SearchClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SearchClient.Options>;

    constructor(options: SearchClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Search across all documents in a document collection using the document metadata and contents.
     *
     * @param {Credal.SearchDocumentCollectionRequest} request
     * @param {SearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.search.searchDocumentCollection({
     *         collectionId: "82e4b12a-6990-45d4-8ebd-85c00e030c24",
     *         searchQuery: "ABC Corp",
     *         structuredQueryFilters: [{
     *                 field: "status",
     *                 operator: "==",
     *                 value: "Open"
     *             }],
     *         userEmail: "jack@credal.ai",
     *         searchOptions: {
     *             maxChunks: 10,
     *             mergeContents: true,
     *             threshold: 0.8,
     *             enableSmartFiltering: true,
     *             enableQueryExtraction: true,
     *             enableReranking: true
     *         }
     *     })
     */
    public searchDocumentCollection(
        request: Credal.SearchDocumentCollectionRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): core.HttpResponsePromise<Credal.SearchDocumentCollectionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchDocumentCollection(request, requestOptions));
    }

    private async __searchDocumentCollection(
        request: Credal.SearchDocumentCollectionRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.SearchDocumentCollectionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/search/searchDocumentCollection",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Credal.SearchDocumentCollectionResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/search/searchDocumentCollection.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
