// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import type * as Credal from "../../../index.js";

export declare namespace DocumentCatalogClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DocumentCatalogClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DocumentCatalogClient.Options>;

    constructor(options: DocumentCatalogClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Credal.UploadDocumentContentsRequest} request
     * @param {DocumentCatalogClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCatalog.uploadDocumentContents({
     *         documentName: "My Document",
     *         documentContents: "Lorem ipsum...",
     *         documentExternalId: "73eead26-d124-4940-b329-5f068a0a8db9",
     *         allowedUsersEmailAddresses: ["jack@credal.ai", "ravin@credal.ai"],
     *         uploadAsUserEmail: "jack@credal.ai"
     *     })
     */
    public uploadDocumentContents(
        request: Credal.UploadDocumentContentsRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): core.HttpResponsePromise<Credal.UploadDocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadDocumentContents(request, requestOptions));
    }

    private async __uploadDocumentContents(
        request: Credal.UploadDocumentContentsRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.UploadDocumentResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/catalog/uploadDocumentContents",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.UploadDocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError(
                    "Timeout exceeded when calling POST /v0/catalog/uploadDocumentContents.",
                );
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Upload a file (PDF, Word, Excel, CSV, PowerPoint) to Credal. Unlike uploadDocumentContents which requires pre-parsed text, this endpoint accepts actual file uploads and automatically parses them using Credal's parsing service.
     *
     * @param {Credal.UploadFileRequest} request
     * @param {DocumentCatalogClient.RequestOptions} requestOptions - Request-specific configuration.
     */
    public uploadFile(
        request: Credal.UploadFileRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): core.HttpResponsePromise<Credal.UploadDocumentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadFile(request, requestOptions));
    }

    private async __uploadFile(
        request: Credal.UploadFileRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.UploadDocumentResponse>> {
        const _request = await core.newFormData();
        await _request.appendFile("file", request.file);
        if (request.documentName != null) {
            _request.append("documentName", request.documentName);
        }

        _request.append("uploadAsUserEmail", request.uploadAsUserEmail);
        _request.append("documentExternalId", request.documentExternalId);
        if (request.allowedUsersEmailAddresses != null) {
            _request.append("allowedUsersEmailAddresses", request.allowedUsersEmailAddresses);
        }

        if (request.documentExternalUrl != null) {
            _request.append("documentExternalUrl", request.documentExternalUrl);
        }

        if (request.customMetadata != null) {
            _request.append("customMetadata", request.customMetadata);
        }

        if (request.collectionId != null) {
            _request.append("collectionId", request.collectionId);
        }

        if (request.forceUpdate != null) {
            _request.append("forceUpdate", request.forceUpdate);
        }

        if (request.internalPublic != null) {
            _request.append("internalPublic", request.internalPublic);
        }

        if (request.sourceSystemUpdated != null) {
            _request.append("sourceSystemUpdated", request.sourceSystemUpdated);
        }

        if (request.awaitVectorStoreSync != null) {
            _request.append("awaitVectorStoreSync", request.awaitVectorStoreSync);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/catalog/uploadFile",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.UploadDocumentResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError("Timeout exceeded when calling POST /v0/catalog/uploadFile.");
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Sync a document from a source URL. Does not support recursive web search. Reach out to a Credal representative for access.
     *
     * @param {Credal.SyncSourceByUrlRequest} request
     * @param {DocumentCatalogClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCatalog.syncSourceByUrl({
     *         sourceUrl: "https://drive.google.com/file/d/123456/view",
     *         uploadAsUserEmail: "ria@credal.ai"
     *     })
     */
    public syncSourceByUrl(
        request: Credal.SyncSourceByUrlRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): core.HttpResponsePromise<Credal.SyncSourceByUrlResponse> {
        return core.HttpResponsePromise.fromPromise(this.__syncSourceByUrl(request, requestOptions));
    }

    private async __syncSourceByUrl(
        request: Credal.SyncSourceByUrlRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): Promise<core.WithRawResponse<Credal.SyncSourceByUrlResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/catalog/syncSourceByUrl",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Credal.SyncSourceByUrlResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError("Timeout exceeded when calling POST /v0/catalog/syncSourceByUrl.");
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Bulk patch metadata for documents, synced natively by Credal or manual API uploads
     *
     * @param {Credal.DocumentMetadataPatchRequest} request
     * @param {DocumentCatalogClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.documentCatalog.metadata({
     *         sources: [{
     *                 metadata: {
     *                     "Department": "HR",
     *                     "Country": "United States"
     *                 },
     *                 resourceIdentifier: {
     *                     type: "external-resource-id",
     *                     externalResourceId: "170NrBm0Do7gdzvr54UvyslPVWkQFOA0lgNycFmdZJQr",
     *                     resourceType: "GOOGLE_DRIVE_ITEM"
     *                 }
     *             }, {
     *                 metadata: {
     *                     "Department": "Sales",
     *                     "Vertical": "Healthcare"
     *                 },
     *                 resourceIdentifier: {
     *                     type: "external-resource-id",
     *                     externalResourceId: "123456",
     *                     resourceType: "ZENDESK_TICKET"
     *                 }
     *             }],
     *         uploadAsUserEmail: "ben@credal.ai"
     *     })
     */
    public metadata(
        request: Credal.DocumentMetadataPatchRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__metadata(request, requestOptions));
    }

    private async __metadata(
        request: Credal.DocumentMetadataPatchRequest,
        requestOptions?: DocumentCatalogClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CredalEnvironment.Production,
                "/v0/catalog/metadata",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CredalError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "body-is-null":
                throw new errors.CredalError({
                    statusCode: _response.error.statusCode,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.CredalTimeoutError("Timeout exceeded when calling PATCH /v0/catalog/metadata.");
            case "unknown":
                throw new errors.CredalError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }
}
